.signup{
    min-width: fit-content;
    min-height: 100vh;
    padding-top: 5.3rem;
    padding-bottom: 1rem;
    background-color: rgb(232, 167, 231);
}
.google a{
    text-decoration: none;
}

@media (max-width: 477px) {

}