.main{
  animation: appear 1s linear;
}
@keyframes appear{
  from{
    opacity: 0;
    /* transform: translateX(-100px); */
    scale: 0.5;
  }
  to{
    opacity: 1;
    /* transform: translateX(0px); */
    scale: 1;
  }
}
.main:hover > .projectCard {
  cursor: pointer;
  transform: rotateY(180deg);
}
.main .projectCard {
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  border: none;
  background: transparent;
  height: 300px;
  width: 400px;
}
.main .projectCard .front {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
}
.main .projectCard .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0;
  padding: 1rem 2rem;
  height: 300px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.main .projectCard .back a {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}
.main .projectCard .back a:hover {
  background-color: red;
  border: none;
}


.main .front img {
  height: 300px;
  width: 400px;
}

.react-multi-carousel-list {
  position: unset;
  /* height: 100%;
  width: 100%; */
}
.projects .project-item-class {
  max-width: 400px;
  margin-right: 1rem;
}
@media (max-width: 477px) {
  .projects .project-item-class {
    margin-right: 0;
    overflow: hidden;
  }
  .projects button{
    display: none;
  }
}

