.blogPagination{
    position: fixed;
    bottom: 0;
    padding: 0.5em;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: violet;
}
.button button{
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.blogPagination .pageIndex{
    color: black;
    font-size: 0.9em;
    font-weight: 600;
}
.button button:hover{
    color: white;
    background-color: tomato;
    border: none;
}