.contact{
    background-color: rgb(232, 167, 231);
    min-height: 100vh;
    padding-top: 5.3rem;
}
.details input,.details textarea{
    padding: 0.5em ;
    width: 100%;
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    border-radius: 4px;
    margin-bottom: 1em;
}
.details input:focus,.details textarea:focus{
    background-color: transparent;
    box-shadow: none;
    color: gray
}

/* side icons */
.social {
    position: fixed;
    top: 20%;
    z-index: 99;
    width: 150px
  }
  
  .social ul {
    list-style-type: none;
    padding: 0;
    transform: translatex(-265px);
  }
  
  .social ul li {
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  
  .social ul li:hover {
    transform: translatex(85px);
  }
  
  .social ul li.call:hover {
    background-color: #55acee;
  }
  .social ul li.google-plus:hover{
    background-color: red;
  }
  .social ul li.instagram:hover {
    background-color: red;
  }
  .social ul li.facebook:hover {
    background-color: #314698;
  }
  .social ul li.github:hover {
    background-color: #000;
  }
  .social ul li.linkedin:hover {
    background-color: #314698;
  }
  .social ul li.youtube:hover {
    background-color: red;
  }
  
  
  
  .social ul li a {
    color: white;
    text-decoration: none;
  }
  
  .social ul li i {
    display: inline-block;
    line-height: 1;
    text-align: center;
    margin-left: 2px;
    color: #293462;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  .social ul li:hover i svg{
    transform: rotate(360deg);
    transition: all 1s;
  }