.navbar {
  background: linear-gradient(
    to right,
    rgba(24, 8, 8, 0.015),
    rgba(122, 122, 221, 0.615) 20%,
    rgba(0, 0, 0, 0.82)
  );
}
.navbar .navbar-brand{
    color: #fff;
  }
.navbar-nav a {
  text-decoration: none;
  color: rgb(227, 65, 211);
  letter-spacing: 0.1rem;
}
.navbar-nav .active {
  border-bottom: 2px solid rgb(236, 153, 236);
  color: rgb(236, 153, 236);
}

@media (max-width: 477px) {
  .navbar {
    background-color: #fff;
  }
  #responsive-navbar-nav{
    padding: 2rem 0;
  }
  .navbar .navbar-nav a {
    color: black;
  }
  .navbar .navbar-brand{
    color: black;
  }
}
